.container {
  min-width: 320px;
}
.main {
  width: 100%;
  padding: 5%;
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


.todo-title {
  font-size:45px;
  font-weight: bold;
  width: 100%;
  font-family: 'Dancing Script', cursive;
  color: #17a2b8;
}

.card {
  border: 1px solid  #440f53;
}

.btn-note {
  border: 1px solid  #440f53;
  padding: 10px 20px;
  font-size: 25px;
}
.btn-list {
  color: #440f53;
  padding: 10px 20px;
  font-size: 25px;
}
.active-menu{
  display: flex;
  justify-content: center;
}

.color{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: .5px solid #ededed;
}
.color-transp{
  background-color: transparent;
}
.color-blue{
  background-color: #ABDFFF;
}
.color-green{
  background-color: #C0FFB7;
}
.color-yellow{
  background-color: #fcff9d;
}
.color-violet{
  background-color: #BAB2CC;
}
.color-red{
  background-color: #ffb8b9;
}
